# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies/
.pub-cache/
build/